<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>EJS cats</h1>
    <a href="/tom"><img src="uglycat.jpeg" alt="Ugly ass cat"></a>
    <a href="/cornJulio"><img src="cat2.jpeg" alt="cat2"></a>
    <a href="/abc"><img src="cat3.jpeg" alt="cat3"></a>
</body>
</html>